* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
a,
a:visited {
  font-family: "Oswald", sans-serif;
  color: #fff;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
}
.img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
section {
  padding: 150px 0 75px 0;
  border-bottom: 1px solid #000;
  text-align: center;
}
section:last-child {
  border-bottom: none;
}
.subsection {
  margin-bottom: 100px;
}
.subsection:last-child {
  margin-bottom: 0;
}
.section__heading {
  margin-bottom: 100px;
  font-family: "Oswald", sans-serif;
}
.section__heading--under {
  margin-bottom: 50px;
  font-family: "Oswald", sans-serif;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.row:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row:last-child {
  margin-bottom: 0;
}
.col {
  width: 470px;
}
.col:last-child {
  margin-bottom: 0;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  height: 800px;
  background: url(../img/header/header-bg.jpg) #4c6969 center no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}
.header::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header__desc {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 3;
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 10;
  background: #000;
}
.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1400px;
  text-align: center;
  list-style-type: none;
  color: #fff;
}
.nav__link {
  display: block;
  padding: 10px 0;
  -webkit-transition: text-shadow 0.2s;
  -o-transition: text-shadow 0.2s;
  -moz-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
  text-align: center;
  font-size: 20px;
  width: 196px;
}
.nav__link:hover {
  text-shadow: 0px 0px 50px #fafafa;
}
.about__desc {
  text-align: left;
}
.about__text {
  margin-bottom: 30px;
}
.about__text:last-child {
  margin-bottom: 0;
}
#models .owl-dot {
  margin-right: 7px;
  width: 20px;
  height: 20px;
  background-color: #eaeaea;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
#models .owl-dot:focus {
  outline: none;
}
#models .owl-dot:last-child {
  margin-right: 0;
}
#models .owl-dot.active {
  background-color: #000;
  border: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  outline: none;
}
.fancybox-image {
  background-color: #fff;
}
.map-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ff0000;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
}
.map-dot::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: -19px;
  background-color: #ff0000;
  width: 1px;
  height: 40px;
}
.map-dot::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: -50px;
  width: 210px;
  z-index: 2;
}
.laes {
  top: 158px;
  left: 158px;
}
.laes::before {
  content: "Ленинградская АЭС";
  left: -45px;
}
.kol {
  top: 109px;
  left: 248px;
}
.kol::before {
  content: "Кольская АЭС";
}
.timeline {
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: #808080;
}
.timeline__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  z-index: 2;
  background: #fff;
}
.timeline__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.timeline__item::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  background: no-repeat center #ffffff;
  -moz-background-size: contain;
       background-size: contain;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  z-index: 3;
}
.timeline__item--quality::after {
  background-image: url(../img/offer/quality.png);
}
.timeline__item--material::after {
  background-image: url(../img/offer/materials.png);
  -moz-background-size: 50px;
       background-size: 50px;
}
.timeline__item--individual::after {
  background-image: url(../img/offer/indiv.png);
  -moz-background-size: 70px;
       background-size: 70px;
}
.timeline__item--best-prise::after {
  background-image: url(../img/offer/best-prise.png);
}
.timeline__item--guarantee::after {
  background-image: url(../img/offer/guarantee.png);
}
.timeline__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  min-height: 120px;
  text-align: left;
  font-size: 36px;
}
.footer {
  padding: 100px 0;
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */