* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
@media (min-width: 1400px) {
  html,
  body {
    font-size: 24px;
  }
}
body {
  position: relative;
}
a,
a:hover {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
a,
a:visited {
  font-family: "Oswald", sans-serif;
  color: #fff;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1400px) {
  .container {
    padding-left: unset;
    padding-right: unset;
  }
}
h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 65px;
}
.img-wrapper {
  position: relative;
}
section {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #000;
  text-align: center;
}
section:last-child {
  border-bottom: none;
}
@media (min-width: 1400px) {
  section {
    padding: 133px 0 75px 0;
  }
}
.subsection {
  margin-bottom: 100px;
}
.subsection:last-child {
  margin-bottom: 0;
}
.section__heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 1400px) {
  .section__heading {
    margin-bottom: 70px;
  }
}
.section__heading--under {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
@media (min-width: 1400px) {
  .section__heading--under {
    margin-bottom: 60px;
    font-size: 1.17em;
  }
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 1400px) {
  .contacts {
    margin-bottom: 50px;
  }
}
.contact-link {
  display: inline-block;
  position: relative;
  padding: 5px 0;
}
.contact-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  z-index: 2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.contact-link:hover::after {
  width: 100%;
}
.img--title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 1400px) {
  .img--title {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.underline {
  display: inline-block;
  border-bottom: 2px solid #000;
}
.section__link {
  display: block;
}
.section__link:hover {
  color: #000;
}
.img__tip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  font-weight: 700;
}
.img__tip::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #000;
  z-index: 2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.tip {
  display: none;
  padding: 10px;
  position: absolute;
  bottom: 40px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 8px 0px #323232;
  box-shadow: 0px 0px 8px 0px #323232;
  z-index: 3;
}
.tip::after {
  content: "";
  position: absolute;
  /* Абсолютное позиционирование */
  left: 10px;
  bottom: -39px;
  /* Положение треугольника */
  border: 20px solid transparent;
  border-top: 20px solid #fff;
  z-index: 3;
}
@media (min-width: 1400px) {
  .tip {
    width: 650px;
    font-size: 18px;
  }
}
.tip__list {
  padding-left: 15px;
}
@media (min-width: 1400px) {
  .tip__list {
    padding-left: 30px;
  }
}
.tip__list li {
  margin-bottom: 5px;
  font-weight: 700;
}
@media (min-width: 1400px) {
  .tip__list li {
    margin-bottom: 10px;
  }
}
.ul-wrapper {
  padding-left: 160px;
}
ul li {
  text-align: left;
}
input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.active {
  display: block;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1400px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.col {
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .col {
    margin-bottom: 0;
    width: 575px;
  }
}
.row--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row--vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.inline-block {
  display: inline-block;
}
.row--vertical-reverce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-center {
  margin: 0 auto;
}
.none {
  display: none;
}
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 101px;
  padding-bottom: 30px;
  background: url(../img/header/header-bg.png) #000000 center no-repeat;
  background-size: cover;
}
.header::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
@media (min-width: 1400px) {
  .header {
    padding-top: 285px;
    padding-bottom: 100px;
    height: 937px;
  }
}
.header__desc {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 3;
}
.header__text {
  margin-bottom: 50px;
  font-size: 28px;
}
@media (min-width: 1400px) {
  .header__text {
    margin-bottom: 100px;
    font-size: 36px;
  }
}
.contact-link {
  margin-bottom: 20px;
}
.contact-link:last-child {
  margin-bottom: 0;
}
@media (min-width: 1400px) {
  .contact-link {
    margin-bottom: 0;
  }
}
.contact-link__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1400px) {
  .contact-link__content {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
.header__nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  z-index: 10;
  background: #000;
}
@media (min-width: 1400px) {
  .header__nav {
    display: block;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 1400px;
  text-align: center;
  list-style-type: none;
  color: #fff;
}
.nav__link {
  display: block;
  -webkit-transition: text-shadow 0.2s;
  transition: text-shadow 0.2s;
  text-align: center;
  font-size: 18px;
  width: 196px;
}
.nav__link:hover {
  text-shadow: 0px 0px 50px #fafafa;
}
@media (min-width: 1400px) {
  .img--diagram1 {
    position: relative;
    top: 45px;
  }
}
.potential--ul {
  padding-left: 30px;
  font-size: 14px;
}
@media (min-width: 1400px) {
  .potential--ul {
    padding-top: 60px;
    padding-left: 30px;
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  .demo {
    padding-bottom: 117px;
  }
}
@media (min-width: 1400px) {
  .product {
    padding-bottom: 102px;
  }
}
.product__models {
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .product__models {
    margin-bottom: 85px;
  }
}
.product__img:hover .img__tip::after {
  width: 100%;
}
.safety {
  display: inline-block;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.safety::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #44aae9;
  z-index: 2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.safety:hover::after {
  width: 100%;
}
.safety h3 {
  margin: 0;
  color: #44aae9;
}
.safety:hover .tip {
  display: block;
}
button {
  position: relative;
  border: none;
  outline: none;
  background-color: unset;
  cursor: pointer;
}
button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  z-index: 2;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
button:hover::after {
  width: 100%;
}
.buysell {
  padding-bottom: 50px;
}
.nav--mobile {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  padding: 50px 0 30px 0;
  background-color: #000;
  color: #fff;
  z-index: 10;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}
.nav--mobile__list {
  margin-bottom: 40px;
  list-style-type: none;
}
.nav--mobile__list-item {
  margin-bottom: 20px;
  text-align: center;
}
.nav--mobile__list-item:last-child {
  margin-bottom: 0;
}
.nav--mobile__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}
.cross {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cross::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  bottom: 5px;
  left: 13px;
  right: 13px;
  background-color: #fff;
  z-index: 2;
}
.cross::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 5px;
  bottom: 5px;
  left: 13px;
  right: 13px;
  background-color: #fff;
  z-index: 2;
}
.hamburger-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #000;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 5;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  display: block;
  margin-bottom: 5px;
  width: 30px;
  height: 5px;
  background-color: #fff;
}
.hamburger__line:last-child {
  margin-bottom: 0;
}
.timeline {
  position: relative;
}
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14%;
  width: 5px;
  background-color: #808080;
}
@media (min-width: 1400px) {
  .timeline::after {
    left: 50%;
  }
}
.timeline__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  padding-left: 100px;
  z-index: 2;
  background: #fff;
}
.timeline__item::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 15%;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: no-repeat center #ffffff;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  z-index: 3;
}
@media (min-width: 1400px) {
  .timeline__item {
    padding-left: 0;
  }
  .timeline__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .timeline__item::after {
    left: 50%;
  }
}
.timeline__item--quality::after {
  background-image: url(../img/offer/quality.png);
}
.timeline__item--material::after {
  background-image: url(../img/offer/materials.png);
  background-size: 50px;
}
.timeline__item--module::after {
  background-image: url(../img/offer/blocks.png);
  background-size: 70px;
}
.timeline__item--automat::after {
  background-image: url(../img/offer/automat.png);
}
.timeline__item--guarantee::after {
  background-image: url(../img/offer/guarantee.png);
}
.timeline__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 105px;
  text-align: left;
}
@media (min-width: 1400px) {
  .timeline__text {
    width: 500px;
    min-height: 120px;
    font-size: 30px;
  }
}
@media (min-width: 1400px) {
  .timeline__item:nth-child(even) p {
    text-align: right;
  }
}
.footer {
  padding: 65px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
@media (min-width: 1400px) {
  .footer {
    padding: 100px 0;
    height: unset;
  }
}
.footer .img-wrapper {
  display: none;
}
@media (min-width: 1400px) {
  .footer .img-wrapper {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */