* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

a,
a:hover {
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    color: #fff;
}
a,
a:visited {
    font-family: "Oswald", sans-serif;
    color: #fff;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

h1 {
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

section {
    padding: 150px 0 75px 0;
    border-bottom: 1px solid #000;
    text-align: center;

    &:last-child {
        border-bottom: none;
    }
}

.subsection {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }
}

.section__heading {
    margin-bottom: 100px;
    font-family: "Oswald", sans-serif;
}

.section__heading--under {
    margin-bottom: 50px;
    font-family: "Oswald", sans-serif;
}
