* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #fff;
}
a,
a:visited {
  font-family: "Oswald", sans-serif;
  color: #fff;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 65px;
}

.img-wrapper {
  position: relative;
}

section {
  padding: 133px 0 75px 0;
  border-bottom: 1px solid #000;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }
}

.subsection {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section__heading {
  margin-bottom: 70px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.section__heading--under {
  margin-bottom: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.17em;
  color: #000;
}

.contacts {
  margin-bottom: 50px;
}

.contact-link {
  display: inline-block;
  position: relative;
  padding: 5px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;

    z-index: 2;

    transition: width 0.2s;
  }
}

.contact-link:hover {
  &::after {
    width: 100%;
  }
}

video {
  display: block;
  margin: 0 auto;
  outline: none;
  width: 1000px;
  border: none;
}

.img--title {
  font-weight: 700;
  font-size: 18px;
}

.underline {
  display: inline-block;
  border-bottom: 2px solid #000;
}

.section__link {
  display: block;

  &:hover {
    color: #000;
  }
}

.img__tip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 35px;
  font-weight: 700;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #000;

    z-index: 2;

    transition: width 0.2s;
  }
}

.tip {
  display: none;
  padding: 10px;
  position: absolute;
  bottom: 40px;
  width: 650px;
  text-align: left;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);

  z-index: 3;

  &::after {
    content: "";
    position: absolute; /* Абсолютное позиционирование */
    left: 10px;
    bottom: -39px; /* Положение треугольника */
    border: 20px solid transparent;
    border-top: 20px solid #fff;
    z-index: 3;
  }
}

.tip__list {
  padding-left: 30px;
}

.tip__list li {
  margin-bottom: 10px;
  font-weight: 700;
}

.ul-wrapper {
  padding-left: 160px;
}

ul li {
  text-align: left;
}
