.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 575px;
}

.row--row-reverse {
  flex-direction: row-reverse;
}

.row--center {
  justify-content: center;
}

.row--vertical-center {
  align-items: center;
}

.row--left {
  justify-content: flex-start;
}

.inline-block {
  display: inline-block;
}
