.timeline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45px;
    width: 5px;
    background-color: #808080;
  }

  @media (min-width: 798px) {
    &::after {
      left: 50%;
    }
  }
}

.timeline__item {
  position: relative;
  display: flex;
  margin-bottom: 70px;
  padding-left: 100px;
  z-index: 2;
  background: #fff;

  &::after {
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 45px;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: no-repeat center #fff;
    background-size: contain;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    z-index: 3;
  }

  @media (min-width: 798px) {
    padding-left: 0;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &::after {
      left: 50%;
    }
  }
}

.timeline__item--quality {
  &::after {
    background-image: url(../img/offer/quality.png);
  }
}

.timeline__item--material {
  &::after {
    background-image: url(../img/offer/materials.png);
    background-size: 50px;
  }
}

.timeline__item--module {
  &::after {
    background-image: url(../img/offer/blocks.png);
    background-size: 70px;
  }
}

.timeline__item--automat {
  &::after {
    background-image: url(../img/offer/automat.png);
  }
}

.timeline__item--guarantee {
  &::after {
    background-image: url(../img/offer/guarantee.png);
  }
}

.timeline__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 105px;
  text-align: left;

  @media (min-width: 798px) {
    width: 42%;
    min-height: 120px;
    font-size: 22px;
  }

  @media (min-width: 1400px) {
    width: 500px;
    font-size: 30px;
  }
}

.timeline__item:nth-child(even) p {
  @media (min-width: 798px) {
    text-align: right;
    width: 100%;
  }
}
